#main{
    .my-body{
        background-color: #fff;
        min-height: 720px;
    }

    .markdown-body{
        @extend .my-body;
        &{
            background-color: #FFFEE9;
            box-shadow:-1px -1px 6px #222 inset;
            padding-top: 30px;
            padding-bottom: 50px;
        }
        p{
            text-indent: 2em;
            line-height:1.8em;
            margin-bottom: 15px;
            font-size:16px;
        }
        p img:only-child{
            border: 1px dotted #333;
        }
        blockquote p{
            margin-bottom: 5px;
        }
        h1,h2,h3{
            margin: 15px;
            margin: 12px;
        }
        @media (max-width: 479px) {
            h1,.h1 {
              font-size: 25px;
            }
            h2,.h2 {
              font-size: 22px;
            }
            h3,.h3 {
              font-size: 20px;
            }
            h4,.h4 {
              font-size: 18px;
            }
            h5,.h5 {
              font-size: 14px;
            }
            h6,.h6 {
              font-size: 12px;
            }
        }
    }
    .main-body{
        @extend .my-body;
        padding-top: 15px;
        h2{
            margin-bottom:20px;
            .badge{
                margin:-25px 0 0 5px;
            }
        }
        .foot-link{
            margin-top:20px;
        }
        .jumbotron{
            &{
                position: relative;
                overflow: hidden;
                *{
                    position: relative;
                    z-index: 200;
                    clear: both;
                }
                .glyphicon{
                    position: absolute;
                    z-index: 100;
                    font-size:150px;
                }
                p.foot-link{
                    text-shadow: none !important;
                }

            }
            &.non-profit{
                $bgColor: #f8e1cb;
                background-color: $bgColor;
                h2,p{
                    text-shadow:0px 0px 3px $bgColor;
                }
                .glyphicon{
                    color: #dc7a24;
                    right: -35px;
                    top: -20px;
                }
            }
            &.web{
                $bgColor: #bbd7e3;
                background-color: $bgColor;
                h2,p{
                    text-shadow:0px 0px 3px $bgColor;
                }
                .glyphicon{
                    color: #37a4d2;
                    right: -30px;
                    top: -20px;
                }
            }
            &.geek{
                $bgColor: #000;
                background-color: $bgColor;
                color: #fff;
                h2,p{
                    text-shadow:0px 0px 3px $bgColor;
                }
                .glyphicon{
                    font-size:200px;
                    right: -20px;
                    top: -75px;
                }
                .badge{
                    background-color: #FFF;
                    color: #000;
                }
            }
            &.help{
                $bgColor: #f6dbe1;
                background-color: $bgColor;
                h2,p{
                    text-shadow:0px 0px 3px $bgColor;
                }
                .glyphicon{
                    color: #dc254c;
                    right: -15px;
                    top: -17px;
                }
            }

        }

        @media (max-width: 768px){
            .jumbotron{
                padding: 5px 15px;
                h2{
                    font-size: 18px;
                }
                p{
                    font-size: 14px;
                }
                &.non-profit .glyphicon{
                    font-size: 80px;
                    right: -12px;
                    top: -7px;
                }
                &.web .glyphicon{
                    font-size: 80px;
                    right: -10px;
                    top: -7px;
                }
                &.geek .glyphicon{
                    font-size: 100px;
                    right: -15px;
                    top: -40px;
                }
                &.help .glyphicon{
                    font-size: 80px;
                    right: -5px;
                    top: -6px;
                }

            }
        }
    }

    .header-block{
        &{
            font-size: 18px;
        }
        li a{
            text-decoration: none;
            font-size:16px;
            margin-bottom: 2px;
        }
    }

    .copyright-basic{
        background-color: #fff;
        color: #666;
        font-size: 0.8em;
        margin: 100px 0 -5px;
        padding: 20px 0 5px;
        text-align: center;
    }

    .nutjs-nav-basic{
        .dropdown-header{
            background-color: #555;
            color: #fff;
        }
        a.navbar-brand-nutjs_ico{
            padding: 12px 9px 15px 15px;
        }
    }
    .nav-basic-laceholder{
        margin: 0 !important;
        padding: 0 !important;
        height:65px;
    }

    .main-basic-carousel{
        padding:0;
        margin-bottom: 15px;
    }
}

//展示首页
.index-body{
    background-color: #eee;
    big{
        font-size: 1.5em;
        margin: 0 0.2em;
    }

    .index-text-group{
        margin-top:50px;
    }

    .index-btn-group{
        margin-top: 65px;
    }

    @media (max-width: 479px){
        .index-head-group h3{
            font-size: 18px;
        }
        .index-text-group p{
            font-size: 14px;
        }
    }
}

.bg-star01{
    background:url("/image/bg-star01.jpg") repeat;
}
.bg-gray01{
    background:url("/image/bg-gray.png") repeat;
}
.alert-basic-modal{
    .close{
        $size: 16px;
        color: #fff;
        background-color: #df6e6e;
        text-shadow: none;
        width:$size;
        height:$size;
        opacity: 1;
        margin:-10px -10px 0 0;
        font-size: $size;
        position: relative;
        &:hover{
            background-color: #f05a5a;
        }
        span{
            position: relative;
            top:-1px;
        }
    }
    .modal-dialog{
        margin-top:80px;
    }
    .modal-body{
        background-color: #222222;
        color: #fff;
        min-height:350px;
        P{
            margin-bottom:0;
        }
    }
}
