#main{
    .my-body{
        background-color: #fff;
        min-height: 720px;
    }

    .markdown-body{
        @extend .my-body;
        &{
            background-color: #FFFEE9;
            box-shadow:-1px -1px 6px #222 inset;
            padding-top: 30px;
            padding-bottom: 50px;
        }
        p{
            text-indent: 2em;
            line-height:1.8em;
            margin-bottom: 15px;
            font-size:16px;
        }
        h1,h2,h3{
            margin: 15px;
            margin: 12px;
        }
    }

    .header-block{
        &{
            font-size: 18px;
        }
        li a{
            text-decoration: none;
            font-size:16px;
            margin-bottom: 2px;
        }
    }

    .copyright-basic{
        background-color: #fff;
        color: #666;
        font-size: 0.8em;
        margin: 100px 0 -5px;
        padding: 20px 0 5px;
        text-align: center;
    }

    .nutjs-nav-basic{
        .dropdown-header{
            background-color: #555;
            color: #fff;
        }
        a.navbar-brand-nutjs_ico{
            padding: 12px 9px 15px 15px;
        }
    }
    .nav-basic-laceholder{
        margin: 0 !important;
        padding: 0 !important;
        height:65px;
    }

    .main-basic-carousel{
        padding:0;
        margin-bottom: 15px;
    }
}

.bg-star01{
    background:url("/image/bg-star01.jpg") repeat;
}
.bg-gray01{
    background:url("/image/bg-gray.png") repeat;
}
.alert-basic-modal{
    .close{
        $size: 16px;
        color: #fff;
        background-color: #df6e6e;
        text-shadow: none;
        width:$size;
        height:$size;
        opacity: 1;
        margin:-10px -10px 0 0;
        font-size: $size;
        position: relative;
        &:hover{
            background-color: #f05a5a;
        }
        span{
            position: relative;
            top:-1px;
        }
    }
    .modal-dialog{
        margin-top:80px;
    }
    .modal-body{
        background-color: #222222;
        color: #fff;
        min-height:350px;
        P{
            margin-bottom:0;
        }
    }
}
