<nav class="navbar navbar-default navbar-fixed-top nutjs-nav-basic">
    <div class="container">
        <div class="navbar-header">
            <a href="/" target="_self" class="navbar-brand navbar-brand-nutjs_ico">
                <img width="25" src="/Public/Logo/nutjs.ico" alt="Nutjs" />
            </a>
            <a href="/" target="_self" class="navbar-brand navbar-brand-nutjs_text">Nutjs.com</a>
            <button class="navbar-toggle" data-toggle="collapse" data-target="#nav-list">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="nav-list">
            <p v-if="!is_login" class="navbar-text navbar-right">
                <a target="_self" v-link="{query:{login:1},replace:true}" class="navbar-link">登陆</a>
                /
                <a target="_self" v-link="'/member/signup'" class="navbar-link">注册</a>
            </p>

            <ul class="nav navbar-nav navbar-right">
                <li><a target="_self" v-link="'/main'" target="_self"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
                <li class="dropdown" v-for="(key1,value1) in list">
                    <a role="button" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="glyphicon glyphicon-{{icon[$index]}}"></span> {{key1}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <template v-for="(key2,value2) in value1">
                            <li v-if="typeof value2 ==='string'">
                                <a v-link="value2" target="_self">{{key2}}</a>
                            </li>
                            <template v-if="typeof value2 ==='object'">
                                <li class="dropdown-header">{{key2}}</li>
                                <li v-for="(key3,value3) in value2">
                                    <a v-link="value3" target="_self">{{key3}}</a>
                                </li>
                            </template>
                        </template>
                    </ul>
                </li>
                <li class="dropdown" v-if="is_login">
                    <a role="button" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="glyphicon glyphicon-user"></span> 花生PeA
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a v-link="'/member/changeinfo'">更新资料</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a v-link="'/member/signout'">Sign out</a></li>
                    </ul>
                </li>
                <!--

                <li><a target="_self" href="/" target="_self"><span class="glyphicon glyphicon-home"></span> 首页</a></li>

                <li class="dropdown">
                    <a role="button" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="glyphicon glyphicon-book"></span> 文档 / 手册
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">开发文档</li>
                        <li><a href="{:U('Develop/rules')}" target="_self">开发建议</a></li>
                        <li><a href="{:U('Develop/deploy')}" target="_self">部署安装</a></li>
                        <li><a href="{:U('Develop/join')}" target="_self">如何参与</a></li>
                        <li><a href="{:U('Develop/template')}" target="_self">模板开发指南</a></li>
                        <li class="dropdown-header">参考手册</li>
                        <li><a href="{:U('Develop/_data')}" target="_self">模板数据</a></li>
                        <li><a href="{:U('Develop/url')}" target="_self">URL速查</a></li>
                        <li><a href="{:U('Develop/api')}" target="_self">API请求</a></li>
                        <li><a href="{:U('Develop/errcode')}" target="_self">API返回</a></li>
                        <li><a href="{:U('Develop/user_state')}" target="_self">state码</a></li>
                        <li class="dropdown-header">其他</li>
                        <li><a href="{:U('Develop/public')}" target="_self">公共资源</a></li>
                        <li><a href="{:U('Develop/structure')}" target="_self">网站构架信息</a></li>
                        <li><a href="{:U('Develop/tools')}" target="_self">开发工具</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a role="button" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="glyphicon glyphicon-shopping-cart"></span> 果仁商店
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{:U('NutStore/works_list')}" target="_self">商店首页</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{:U('NutStore/submit_works')}" target="_self">投稿新课程</a></li>
                        <li><a href="{:U('NutStore/member')}" target="_self">我的课程</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a role="button" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="glyphicon glyphicon-briefcase"></span> 协会
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{:U('Index/history')}" target="_self">协会历史</a></li>
                        <li><a href="{:U('Index/profit')}" target="_self">收支情况</a></li>
                        <li><a href="{:U('NutStore/rules')}" target="_self">公告查看</a></li>
                        <li><a href="{:U('NutStore/rules')}" target="_self">手机资料片</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a role="button" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="glyphicon glyphicon-th-large"></span> 其他
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{:U('NutStore/rules')}" target="_self">Markdown渲染</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a role="button" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="glyphicon glyphicon-user"></span> {$_data.user.uid}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{:U('Exploit/rules')}" target="_self">更新资料</a></li>
                        <li><a href="{:U('Exploit/rules')}" target="_self">修改密码</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{:U('Member/sign_out')}" target="_self">Sign out</a></li>
                    </ul>
                </li>
                -->
            </ul>
        </div>
    </div>
</nav>
<div class="nav-basic-laceholder"></div>